:root {
  --gradient-right: rgba(51, 54, 253, 0.233);
  --gradient-left: rgba(12, 85, 241, 0.37);
  --gradient-background: rgba(10, 14, 32, 0.93);
  --gradient-background-right: rgba(51, 54, 253, 0);
  --gradient-background-left: rgba(12, 85, 241, 0.13);
  --color-showcase-header: rgba(34, 32, 61, 0.93);
  --gradient-showcase-header-left: rgba(20, 33, 68, 0.93);
  --btn-background: rgb(38, 36, 68);
  --btn-background-hover: rgb(48, 46, 78);
  --btn-outline: rgb(88, 86, 108);
}

* {
  margin: 0;
  padding: 0;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #c4c4c4;
  background-color: black;
}

.container video {
	position: absolute;
	width: 100%;
	z-index: -1;
}

.profile {
	position: relative;
  display: flex;
	flex-direction: column;
	align-items: center;
  background: var(--gradient-background);
  background-image: linear-gradient(
    360deg,
    var(--gradient-background-left),
    var(--gradient-background-right)
  );
  top: 0;
  left: 25%;
  width: 50%;
}

.main-profile {
  display: flex;
  padding: 15px;
	margin-top: 15px;
}


.avatar {
  position: absolute;
  left: 24.5px;
  top: 10px;
}
.picture {
	width: 181px;
	height: 180px;
}

.title {
	color: white;
	font-weight: 800px;
	margin-top: 50px;
}

.profile-text {
  padding-left: 25px;
	padding-right: 25px;
}

.profile-text h1 {
  color: white;
}

.address {
  display: flex;
}

.address img {
  width: 16px;
  height: 11px;
  padding-right: 5px;
}

.desc {
  padding-top: 70px;
  max-width: 500px;
}

.border-level {
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  border: solid #fff 2px;
  height: 28px;
  width: 28px;
  line-height: 26px;
  text-align: center;
  cursor: default;
  margin-top: 2px;
  border-color: #fecc23;
	margin-left: 10px;
}
.border-level span {
  font-size: 18px;
  color: white;
  font-weight: 200px;
}

.profile-level {
  font-size: 24px;
  color: white;
  font-weight: 200px;
	display: flex;
}

/* Badge */
.badge {
	margin-top: 50px;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  display: flex;
	justify-content: center;
  top: 0;
  transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
  width: 45px;
  height: 45px;
  background: white;
	margin-top: 10%;
  border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
	text-align: center;
  display: flex;
	justify-content: center;
}
.rounded img {
	width: 40px;
	align-self: center;
}

.badges {
	display: flex;
	column-gap: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	background: var(--gradient-background);
	margin-top: 50px;
}

.card-header {
	margin-top: 30px;
	filter: brightness(1.75);
}

.card-header h2{
	font-size: 25px;
	margin-left: 10px;
	text-align: center;
	align-content: center;
	margin-top: -20px;
}

.card-footer {
	text-align: center;
	padding: 15px;
}

.card img {
	width: 100%;
}

.card h1 {
	color: white;
	text-align: center;
}

/* Colors */
.blue {
  background: dodgerblue;
  color: deepskyblue;
}

.orange {
  background: darkorange;
  color: orange;
}

.gold {
  background: gold;
  color: gold;
}

.red {
  background: red;
  color: red;
}

.purple {
  background: mediumpurple;
  color: slategray;
}

.green {
  background: yellowgreen;
  color: darkslategray;
}

.crimson {
  background: crimson;
  color: firebrick;
}

.steel {
  background: steelblue;
  color: gold;
}

.pink {
  background: hotpink;
  color: palevioletred;
}

.rebecca {
  background: rebeccapurple;
  color: rebeccapurple;
}

.gainsboro {
  background: gainsboro;
  color: orangered;
}

.button-footer {
	align-items: center;
	justify-content: center;
	align-self: center;

}

.card:hover {
	transition: transform .3s;
}

.card:hover {
	transform: scale(1.3);
}

button {
	margin: 15px;
	background: var(--btn-background);
	font-size: 35px;
	border-radius: 15px;
	padding: 5px;
	border: none;
	color: white;
	cursor: pointer;
}

button:hover {
	background: var(--btn-background-hover);
}

a {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 768px){
	.profile {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	}

	.main-profile {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	p {
		font-size: 12px;
	}
	.avatar {
		left: 23%;
	}
	.address {
		position: absolute;
		left: 30%;
	}
	.profile-level {
		justify-content: center;
		margin-top: 50px;
	}
}